<% layout('/layouts/boilerplate')%>
    <h1>All Blogs</h1>
    <div>
        <a href="/blogs/new">Add a thought </a>
    </div>
    <ul>
        <% for (let blog of blogs) {%>
        <li><a href="/blogs/<%= blog._id %>"><%= blog.title %></a></li>
        <% } %>
    </ul>