<% layout('/layouts/boilerplate')%>
<form action="/blogs" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="blog[title]">
    </div>
    <div>
        <label for="mood">Mood</label>
        <input type="text" id="mood" name="blog[mood]">
    </div>
    <button>Add Thought</button>
</form>
<a href="/blogs">All Thoughts</a>