<nav class="navbar sticky-top navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="color: black;">iThought</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <div class="navbar-nav ml-auto">
                <a class="nav-link" href="/blogs"><i class="far fa-sticky-note"></i></a>
                <a class="nav-link" href="/blogs/new"><i class="far fa-plus-square"></i></a>
                <% if(!currentUser) {%>
                <a class="nav-link" href="/register"><i class="far fa-user"></i></a>
                <% } else {%>
                <a class="nav-link" href="/logout" style="color: black;">Log Out</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>