body {
  height: 100vh;
  background-color: #f8f8f8;
  color:black;
  font-family: 'Roboto Mono', monospace;

}
.cover-container {
  max-width: 60vw;
}

i{
  color:black;
}

.nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  margin-left: 1rem;
  color:black;
  border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.nav-link.active {
  border-bottom-color: black;
}

.btn-secondary,
.btn-secondary:hover {
  text-shadow: none;
}

.px-3{
  border-radius: 40px;
  background: #f8f8f8;
  height: 500px;
  margin-bottom: 200px;
  box-shadow: 14px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.px-3 h1{
  margin-top: 100px;
}

.px-3 h2{
  margin-top: 20px;
  margin-bottom: 30px;
}
.px-3 a{
  background: #f8f8f8;
  border-radius: 40px;
  color:black;
  box-shadow: 14px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}
.px-3 a:hover{
  box-shadow: inset -10px -10px 30px rgba(255, 255, 255, 1),
  inset 10px 5px 20px rgba(0, 0, 0, 0.05);
  
}
